@import 'style';

$coul-texte-entrees: rgb(198, 116, 18);
$coul-texte-plats: rgb(165, 103, 153);
$coul-texte-desserts : rgb(110, 76, 204);
$coul-fond:rgb(255, 245, 254);

#chicAlaFrancaise{
    background-color: $coul-fond;
    font-family: 'Cambria', Arial, Helvetica, sans-serif;
}

#imageTitreChic{
    margin-top: 50px;
    width: 400px;
}

#entrees .titre_souligne .soulignement{
    background-color: $coul-texte-entrees;
}

#plats .titre_souligne .soulignement{
    background-color: $coul-texte-plats;
}

#desserts .titre_souligne .soulignement{
    background-color: $coul-texte-desserts;
}

p{
    font-size: 1em;
}

#entrees{
    color: $coul-texte-entrees;
}

#plats{
    color: $coul-texte-plats;
}

#desserts{
    color: $coul-texte-desserts;
}

#footerChicAlaFrancaise{
    width: 250px;
    margin: 50px 0px 50px 0px;
}

@media screen and (max-width: 700px){
    #imageTitreChic{
        width: 300px;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
}