@import 'style';

/*Mise en forme de la page d'accueil*/

#sectionRestaurants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imgRestaurants {
    width: 350px;
    margin: 20px;
}

#btn-prochainement{
    display: flex;
    justify-content: center;
}

#titreProchainement{
    width: 300px;
    background-color: $coul-fond;
    font-weight: normal;
    color: $coul-police;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 100px;
}