@charset "UTF-8";
/*Mises en forme communes à toutes les pages*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header {
  text-align: center;
  padding: 10px;
  background-color: #579c87;
  margin-bottom: 20px;
}

header img {
  width: 300px;
}

footer {
  background-color: #579c87;
  padding: 20px;
  font-size: 1.4em;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#piedDePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #fcca46;
}

.lien_effet_wiggle:hover {
  -webkit-animation: wiggle 400ms ease-in-out;
          animation: wiggle 400ms ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  10% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  20% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  30% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  40% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  50% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  60% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  70% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  80% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  90% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  10% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  20% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  30% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  40% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  50% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  60% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  70% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  80% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
  90% {
    -webkit-transform: translateX(2%);
            transform: translateX(2%);
  }
  100% {
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
}

/*Mises en forme communes aux pages des restaurants*/
.titreRestaurant {
  font-size: 2em;
  color: black;
  text-align: center;
}

.sectionMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 100px 150px 100px;
  padding: 0px 70px 0px 70px;
}

.categorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.titre_categorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.separateur {
  height: 20px;
  width: 590px;
}

.separateurDebut {
  margin-right: 50px;
}

.separateurFin {
  margin-left: 50px;
}

.titre_souligne {
  font-size: 1.2em;
  width: auto;
  margin: 0px 20px 0px 20px;
  text-align: center;
  cursor: default;
}

.titre_souligne:hover .soulignement {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.soulignement {
  width: auto;
  height: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.plats_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px;
}

.libelles_plats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  margin-left: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  text-align: right;
  margin-right: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Mise en page en fonction de différentes tailles d'écran*/
@media screen and (max-width: 1350px) {
  .sectionMenu {
    margin: 50px 50px 100px 50px;
    padding: 0px;
  }
  .titre_categorie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
  }
  .separateur {
    width: auto;
  }
  .separateurDebut {
    margin-right: 0px;
  }
  .separateurFin {
    margin-left: 0px;
  }
}

@media screen and (max-width: 700px) {
  .titreRestaurant {
    font-size: 1.5em;
  }
  .sectionMenu {
    margin: 20px 20px 100px 20px;
    padding: 0px;
  }
  header img {
    width: 200px;
  }
  #imageTitreChic {
    width: 200px;
  }
  .libelles_plats {
    margin-left: 10px;
  }
  .prix {
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .titreRestaurant {
    font-size: 1em;
  }
  footer {
    font-size: 1em;
  }
}

/*Mise en forme de la page d'accueil*/
#sectionRestaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cadre_zoom {
  width: 400px;
  height: 600px;
  border: 8px solid rgba(128, 128, 128, 0.05);
  border-radius: 5px;
  overflow: hidden;
  margin: 20px;
}

.imgRestaurants {
  width: 100%;
  height: 100%;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.imgRestaurants:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#btn-prochainement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#titreProchainement {
  width: 400px;
  background-color: #579c87;
  font-weight: normal;
  color: #fcca46;
  font-size: 2em;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 100px;
}

#titreProchainement:hover #point1 {
  display: inline;
  -webkit-animation: suspension 1.7s infinite;
          animation: suspension 1.7s infinite;
}

#titreProchainement:hover #point2 {
  display: inline;
  -webkit-animation: suspension 1.7s 0.2s infinite;
          animation: suspension 1.7s 0.2s infinite;
}

#titreProchainement:hover #point3 {
  display: inline;
  -webkit-animation: suspension 1.7s 0.4s infinite;
          animation: suspension 1.7s 0.4s infinite;
}

.points {
  opacity: 0;
  display: none;
}

@-webkit-keyframes suspension {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes suspension {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 700px) {
  .cadre_zoom {
    width: 250px;
    height: 350px;
  }
  .imgRestaurants:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #titreProchainement {
    width: 250px;
    font-size: 1.5em;
  }
}
/*# sourceMappingURL=styleAccueil.css.map */