@import 'style';

$coul-texte:rgb(61, 19, 25);
$coul-fond:rgb(253, 224, 220);

/*Mise en forme de la page de la note enchantée*/

#noteEnchantee{
    color: $coul-texte;
    background-color: $coul-fond;
    font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px 150px 100px;
    padding: 0px 70px 0px 70px;
}

#imgNoteMusique{
    width: 80px;
    margin: 50px 0px 10px 0px;
}

#imgTitreNoteEnchantee{
    width: 200px;
}

.sepNoteEnchantee{
    width: 190px;
    height: 20px;
}

#footerNoteEnchantee{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

#img2NoteMusique{
    width: 40px;
    margin: 0px;
}

#img2TitreNoteEnchantee{
    width: 180px;
    margin: 0px;
}