@charset "UTF-8";
/*Mises en forme communes à toutes les pages*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

header {
  text-align: center;
  padding: 10px;
  background-color: #579c87;
  margin-bottom: 20px;
}

header img {
  width: 300px;
}

h2 {
  font-size: 1.2em;
  min-width: 200px;
  margin: 0px 20px 0px 20px;
  text-align: center;
}

h2:hover {
  text-decoration: underline;
}

footer {
  background-color: #579c87;
  padding: 20px;
  font-size: 1.4em;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#piedDePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #fcca46;
}

/*Mises en forme communes aux pages des restaurants*/
.titreRestaurant {
  font-size: 2em;
  color: black;
  text-align: center;
}

.sectionMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 100px 150px 100px;
  padding: 0px 70px 0px 70px;
}

.categorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.titre_categorie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.prix {
  font-weight: bold;
  text-align: right;
}

.plats_prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

#deliceDesPapilles {
  color: black;
  background-color: #edefef;
  font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
}

#imageTitreDelice {
  width: 500px;
  margin-top: 50px;
}

.sepDeliceDesPapilles {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 20px;
}

p {
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
}

#footerDeliceDesPapilles {
  width: 300px;
  margin: 50px 0px 50px 0px;
}
/*# sourceMappingURL=styleDeliceDesPapilles.css.map */