@import 'style';

$coul-texte:rgb(61, 19, 25);
$coul-fond:rgb(253, 224, 220);

/*Mise en forme de la page de la note enchantée*/

#noteEnchantee{
    color: $coul-texte;
    background-color: $coul-fond;
    font-family: 'Segoe Print', Arial, Helvetica, sans-serif;
}

#imgNoteMusique{
    width: 80px;
    margin: 50px 0px 10px 0px;
}

#imgTitreNoteEnchantee{
    width: 250px;
}

.sepNoteEnchantee{
    height: 20px;
    flex: 1;
}

h2{
    font-size: 1.3em;
    margin: 0px 20px 0px 20px;
    min-width: 200px;
    text-align: center;
}

p{
    font-size: 0.8em;
}

#footerNoteEnchantee{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 0px 50px 0px;
}

#img2NoteMusique{
    width: 40px;
    margin: 0px;
}

#img2TitreNoteEnchantee{
    width: 180px;
    margin: 0px;
}