@import 'style';

div img {
    width: 350px;
    margin: 20px;
}

#btn-prochainement h1{
    width: 300px;
    background-color: $coul-fond;
    font-weight: normal;
    color: $coul-police;
    font-size: 2em;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 100px;
}