@font-face {
  font-family: "font-chic";
  src: url("/fonts//chic/croissantone-regular.ttf");
}
@font-face {
  font-family: "font-note";
  src: url("/fonts//note/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "font-delice";
  src: url("/fonts/delice/AdageScriptJF.ttf");
}
@font-face {
  font-family: "font-palette";
  src: url("/fonts/palette/KaushanScript-Regular.otf");
}
@keyframes secouer {
  0% {
    transform: translateX(-1%);
  }
  10% {
    transform: translateX(2%);
  }
  20% {
    transform: translateX(-1%);
  }
  30% {
    transform: translateX(2%);
  }
  40% {
    transform: translateX(-1%);
  }
  50% {
    transform: translateX(2%);
  }
  60% {
    transform: translateX(-1%);
  }
  70% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(-1%);
  }
  90% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-4%);
  }
}
@keyframes suspension {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.emplacement-bouton {
  margin: 0px 0px 100px 0px;
}

.bouton {
  border: 1px solid #579c87;
  border-radius: 10px;
}
.bouton .points {
  opacity: 0;
  display: none;
}
.bouton:hover #point1 {
  display: inline;
  animation: suspension 1.7s 0s infinite;
}
.bouton:hover #point2 {
  display: inline;
  animation: suspension 1.7s 0.2s infinite;
}
.bouton:hover #point3 {
  display: inline;
  animation: suspension 1.7s 0.4s infinite;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1, h2, h3 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
}

a, header {
  color: #fcca46;
  text-decoration: none;
}

header, .lien, footer {
  padding: 10px;
  margin: 0px;
  background-color: #579c87;
}

i {
  padding: 0px;
  margin: 10px;
}

.txt-logo {
  font-size: 5em;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .txt-logo {
    font-size: 3.75em;
  }
}

.titrePage {
  font-size: 2em;
  text-align: center;
  padding: 0px;
  margin: 50px;
}
@media screen and (max-width: 600px) {
  .titrePage {
    display: none;
  }
}

.mentions, .prochainement {
  display: inline;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 1.4em;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
@media screen and (max-width: 600px) {
  footer {
    font-size: 1.05em;
  }
}
footer .liens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .liens a:hover {
  display: inline;
  animation: secouer 400ms 0s ease-in-out;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 50px 0px;
}
@media screen and (max-width: 1650px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav .couple-resto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
}
@media screen and (max-width: 850px) {
  nav .couple-resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav .couple-resto .cadre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  padding: 0px;
  margin: 20px;
  border: 5px solid rgba(161, 157, 157, 0.05);
  border-radius: 5px;
}
nav .couple-resto .cadre a {
  transition: all 500ms;
}
nav .couple-resto .cadre a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
@media screen and (max-width: 600px) {
  nav .couple-resto .cadre {
    width: 262.5px;
    height: 375px;
  }
}

.nom-resto {
  margin: 20px 0px 20px 0px;
}

.sectionMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0px 100px 100px 100px;
}
@media screen and (max-width: 1200px) {
  .sectionMenu {
    padding: 0;
    margin: 20px 20px 100px 20px;
  }
}
.sectionMenu .categorie {
  width: 100%;
  padding: 0;
  margin: 20px;
}
.sectionMenu .categorie .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0px 30px 0px 30px;
  font-weight: bold;
}
.sectionMenu .categorie .titre .titre-souligne {
  cursor: default;
  width: auto;
}
.sectionMenu .categorie .titre .titre-souligne .soulignement {
  width: auto;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 400ms ease-in-out;
}
.sectionMenu .categorie .titre .titre-souligne:hover .soulignement {
  transform: scaleX(1);
}
@media screen and (max-width: 850px) {
  .sectionMenu .categorie .titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.separateur {
  width: 38%;
  height: 20px;
}
.separateur .debut {
  margin-right: 50px;
}
.separateur .fin {
  margin-left: 50px;
}
@media screen and (max-width: 850px) {
  .separateur {
    display: none;
  }
}

.plats_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
  margin: 50px;
}
@media screen and (max-width: 850px) {
  .plats_prix {
    padding: 0;
    margin: 18.75px;
  }
}
.plats_prix .noms-plats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
.plats_prix .prix {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  text-align: right;
}

.note {
  background-color: #fde0dc;
}
.note .nom-resto {
  font-family: "font-note";
  font-size: 2.5em;
  color: #3d1319;
}
@media screen and (max-width: 600px) {
  .note .nom-resto {
    font-size: 1.875em;
  }
}
.note .grand {
  font-size: 3.5em;
}
@media screen and (max-width: 600px) {
  .note .grand {
    font-size: 2.625em;
  }
}
.note .mot-menu {
  font-family: "Segoe Print";
  font-size: 3em;
  color: #3d1319;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .note .mot-menu {
    font-size: 2.25em;
  }
}
.note .titre {
  font-family: "Segoe Print";
  font-size: 1.5em;
  color: #3d1319;
}
@media screen and (max-width: 600px) {
  .note .titre {
    font-size: 1.125em;
  }
}
.note .soulignement {
  background-color: #3d1319;
}
.note .noms-plats, .note .prix {
  font-family: "Segoe Print";
  font-size: 1.1em;
  color: #3d1319;
}
@media screen and (max-width: 600px) {
  .note .noms-plats, .note .prix {
    font-size: 0.825em;
  }
}
.note .musique {
  background: -webkit-linear-gradient(left, #f05662, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4em;
}
@media screen and (max-width: 600px) {
  .note .musique {
    font-size: 3em;
  }
}
.note .petit {
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  .note .petit {
    font-size: 2.25em;
  }
}
.note .mot-menu {
  text-transform: uppercase;
}

.footerNote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .footerNote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chic {
  background-color: #fff5fe;
}
.chic .nom-resto {
  background: -webkit-linear-gradient(-40deg, #c67412, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "font-chic";
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  .chic .nom-resto {
    font-size: 1.125em;
  }
}
.chic .grand {
  font-size: 2.5em;
}
@media screen and (max-width: 600px) {
  .chic .grand {
    font-size: 1.875em;
  }
}
.chic .mot-menu {
  font-family: "cambria";
  font-size: 3em;
  color: #c67412;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .chic .mot-menu {
    font-size: 2.25em;
  }
}
.chic .titre {
  font-family: "cambria";
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  .chic .titre {
    font-size: 1.125em;
  }
}
.chic .noms-plats, .chic .prix {
  font-family: "cambria";
  font-size: 1.5em;
}
@media screen and (max-width: 600px) {
  .chic .noms-plats, .chic .prix {
    font-size: 1.125em;
  }
}
.chic .entrees .titre, .chic .entrees .noms-plats, .chic .entrees .prix {
  color: #c67412;
}
.chic .entrees .soulignement {
  background-color: #c67412;
}
.chic .plats .titre, .chic .plats .noms-plats, .chic .plats .prix {
  color: #a56799;
}
.chic .plats .soulignement {
  background-color: #a56799;
}
.chic .desserts .titre, .chic .desserts .noms-plats, .chic .desserts .prix {
  color: #6e4ccc;
}
.chic .desserts .soulignement {
  background-color: #6e4ccc;
}

.delice {
  background-color: #edefef;
}
.delice .nom-resto {
  font-family: "font-delice";
  font-size: 2em;
  color: #0230df;
}
@media screen and (max-width: 600px) {
  .delice .nom-resto {
    font-size: 1.5em;
  }
}
.delice .grand {
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  .delice .grand {
    font-size: 2.25em;
  }
}
.delice .mot-menu {
  font-family: "Segoe Print";
  font-size: 2.5em;
  color: #0230df;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .delice .mot-menu {
    font-size: 1.875em;
  }
}
.delice .titre {
  font-family: "Segoe Print";
  font-size: 1.5em;
  color: black;
}
@media screen and (max-width: 600px) {
  .delice .titre {
    font-size: 1.125em;
  }
}
.delice .soulignement {
  background-color: black;
}
.delice .noms-plats, .delice .prix {
  font-family: "Segoe Print";
  font-size: 1.2em;
  color: black;
}
@media screen and (max-width: 600px) {
  .delice .noms-plats, .delice .prix {
    font-size: 0.9em;
  }
}

.palette {
  background-color: #fdfffd;
}
.palette .nom-resto {
  background: -webkit-linear-gradient(-40deg, #43973d, #beff7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "font-palette";
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  .palette .nom-resto {
    font-size: 1.5em;
  }
}
.palette .grand {
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  .palette .grand {
    font-size: 2.25em;
  }
}
.palette .mot-menu {
  font-family: "Segoe Print";
  font-size: 2.5em;
  color: #43973d;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .palette .mot-menu {
    font-size: 1.875em;
  }
}
.palette .titre {
  font-family: "Segoe Print";
  font-size: 1.5em;
  color: black;
}
@media screen and (max-width: 600px) {
  .palette .titre {
    font-size: 1.125em;
  }
}
.palette .soulignement {
  background-color: black;
}
.palette .noms-plats, .palette .prix {
  font-family: "Segoe Print";
  font-size: 1.2em;
  color: black;
}
@media screen and (max-width: 600px) {
  .palette .noms-plats, .palette .prix {
    font-size: 0.9em;
  }
}

/*# sourceMappingURL=style.css.map */
