@font-face {
  font-family: "font-chic";
  src: url("/fonts//chic/croissantone-regular.ttf");
}
@font-face {
  font-family: "font-note";
  src: url("/fonts//note/Devonshire-Regular.ttf");
}
@font-face {
  font-family: "font-delice";
  src: url("/fonts/delice/AdageScriptJF.ttf");
}
@font-face {
  font-family: "font-palette";
  src: url("/fonts/palette/KaushanScript-Regular.otf");
}
@keyframes secouer {
  0% {
    transform: translateX(-1%);
  }
  10% {
    transform: translateX(2%);
  }
  20% {
    transform: translateX(-1%);
  }
  30% {
    transform: translateX(2%);
  }
  40% {
    transform: translateX(-1%);
  }
  50% {
    transform: translateX(2%);
  }
  60% {
    transform: translateX(-1%);
  }
  70% {
    transform: translateX(2%);
  }
  80% {
    transform: translateX(-1%);
  }
  90% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(-4%);
  }
}
@keyframes suspension {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*Mises en forme communes sur tout le site*/
body {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
}

h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}

header, footer, .bouton {
  background-color: #579c87;
  padding: 10px;
  margin: 0px;
  color: #fcca46;
}

a {
  color: #fcca46;
  text-decoration: none;
}

i {
  padding: 0px;
  margin: 10px;
}

.txt-logo {
  font-size: 5em;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  .txt-logo {
    font-size: 3em;
  }
}

.titrePage {
  font-size: 2em;
  color: black;
  text-align: center;
  padding: 0px;
  margin: 50px;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  font-size: 1.4em;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
@media screen and (max-width: 600px) {
  footer {
    font-size: 1em;
  }
}
footer .liens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .liens a {
  color: #fcca46;
}
footer .liens a:hover {
  display: inline;
  animation: secouer 400ms 0s ease-in-out;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
@media screen and (max-width: 1650px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav .resto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
@media screen and (max-width: 850px) {
  nav .resto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
nav .resto h3, nav .resto i {
  font-size: 3em;
  margin-top: 50px;
}
@media screen and (max-width: 600px) {
  nav .resto h3, nav .resto i {
    font-size: 2em;
  }
}
nav .resto .__cadre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 500px;
  padding: 0px;
  margin: 20px;
  border: 5px solid rgba(161, 157, 157, 0.05);
  border-radius: 5px;
}
nav .resto .__cadre a {
  transition: all 500ms;
}
nav .resto .__cadre a:hover {
  transform: scale(1.2);
  opacity: 0.6;
}
@media screen and (max-width: 600px) {
  nav .resto .__cadre {
    width: 250px;
    height: 350px;
  }
}
nav .resto .--note {
  background-color: #fde0dc;
}
nav .resto .--note i {
  color: #f05662;
}
nav .resto .--note h2 {
  font-family: "font-note";
  font-weight: normal;
  color: #3d1319;
  font-size: 2.2em;
}
nav .resto .--note h3 {
  text-transform: uppercase;
  color: #3d1319;
  font-style: italic;
  font-family: "Segoe Print";
  font-weight: bold;
}
nav .resto .--chic {
  background-color: #fff5fe;
}
nav .resto .--chic h2 {
  font-family: "font-chic";
  color: #6e4ccc;
}
nav .resto .--chic h3 {
  color: #c67412;
  font-family: "Times New Roman";
}
nav .resto .--delice {
  background-color: #edefef;
  font-style: italic;
}
nav .resto .--delice h2 {
  font-family: "font-delice";
  color: #0230df;
  font-size: 2em;
}
@media screen and (max-width: 600px) {
  nav .resto .--delice h2 {
    font-size: 1.5em;
    font-weight: normal;
  }
}
nav .resto .--delice h3 {
  color: #0230df;
  font-family: "Segoe Print";
}
nav .resto .--palette {
  background-color: #fdfffd;
}
nav .resto .--palette h2 {
  font-family: "font-palette";
  font-style: italic;
  color: #43973d;
}
nav .resto .--palette h3 {
  font-family: "Segoe Print";
  font-style: italic;
  color: #43973d;
}

.emplacement-bouton {
  margin-bottom: 100px;
}

.bouton {
  width: 250px;
  height: 100%;
  border: 1px solid #579c87;
  border-radius: 10px;
}
.bouton .points {
  opacity: 0;
  display: none;
}
.bouton:hover #point1 {
  display: inline;
  animation: suspension 1.7s 0s infinite;
}
.bouton:hover #point2 {
  display: inline;
  animation: suspension 1.7s 0.2s infinite;
}
.bouton:hover #point3 {
  display: inline;
  animation: suspension 1.7s 0.4s infinite;
}

/*Mises en forme communes aux pages des restaurants*/
.nom-resto {
  margin-top: 20px;
  font-size: 1.8em;
}

.sectionMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 150px;
  margin-top: 0px;
}
.sectionMenu .categorie {
  width: 100%;
  padding: 0px;
  margin: 20px;
}
.sectionMenu .categorie .titre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 30px;
  width: auto;
}
.sectionMenu .categorie .titre .titre-souligne {
  cursor: default;
  font-size: 1.8em;
  padding: 0px;
  margin: 20px;
}
.sectionMenu .categorie .titre .titre-souligne .--soulignement {
  width: auto;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 400ms ease-in-out;
}
.sectionMenu .categorie .titre .titre-souligne:hover .--soulignement {
  transform: scaleX(1);
}

.separateur {
  height: 20px;
  width: 590px;
}
.separateur --debut {
  margin-right: 50px;
}
.separateur --fin {
  margin-left: 50px;
}

.plats_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.plats_prix .libelles_plats {
  margin-left: 50px;
}
.plats_prix .libelles_plats p {
  text-align: left;
}
.plats_prix .prix {
  margin-right: 50px;
}
.plats_prix .prix p {
  font-weight: bold;
  text-align: right;
}
.plats_prix p {
  padding: 0px;
  margin: 10px;
}

.note {
  background-color: #fde0dc;
  color: #3d1319;
  font-family: "Segoe Print";
}
.note i {
  font-size: 4em;
  color: #f05662;
}
.note .nom-resto {
  font-family: "font-note";
  font-size: 3em;
}
.note .titre {
  font-weight: bold;
  font-size: 0.8em;
}
.note .--soulignement {
  background-color: #3d1319;
}

.footerNote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footerNote i, .footerNote .nom-resto {
  font-size: 1.8em;
  padding: 0px;
  margin: 10px;
}

/*@media screen and (max-width: 700px){
    #imgNoteMusique{
        width: 40px;
    }
    #imgTitreNoteEnchantee{
        width: 200px;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    #img2NoteMusique{
        width: 20px;
    }
    #img2TitreNoteEnchantee{
        width: 130px;
    }
}*/
.chic {
  background-color: #fff5fe;
  font-family: "font-chic";
  color: #c67412;
}
.chic .nom-resto {
  font-size: 3em;
}
.chic .categorie {
  font-family: "cambria";
}
.chic .categorie .titre {
  font-weight: bold;
  font-size: 0.8em;
}
.chic .categorie p {
  font-size: 1.2em;
}
.chic .entrees .--soulignement {
  background-color: #c67412;
}
.chic .plats {
  color: #a56799;
}
.chic .plats .--soulignement {
  background-color: #a56799;
}
.chic .desserts {
  color: #6e4ccc;
}
.chic .desserts .--soulignement {
  background-color: #6e4ccc;
}

.footerChic {
  font-size: 2em;
}

/*
@media screen and (max-width: 700px){
    #imageTitreChic{
        width: 300px;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
}*/
.delice {
  background-color: #edefef;
  font-family: "font-delice";
  color: #0230df;
}
.delice .nom-resto {
  font-size: 4em;
  font-weight: normal;
}
.delice .categorie {
  font-family: "Segoe Print";
  color: black;
}
.delice .categorie .titre {
  font-size: 0.8em;
}
.delice .categorie p {
  font-size: 1.1em;
}
.delice .categorie .--soulignement {
  background-color: black;
}

.footerDelice {
  font-size: 2.5em;
}

/*
@media screen and (max-width: 700px){
    #imageTitreDelice{
        width: 300px;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    #footerDeliceDesPapilles{
        width: 200px;
    }
}*/
.palette {
  background-color: #fdfffd;
  font-family: "font-palette";
  color: #43973d;
}
.palette .nom-resto {
  font-size: 4em;
  font-weight: normal;
}
.palette .categorie {
  color: black;
  font-family: "Segoe Print";
}
.palette .categorie .titre {
  font-size: 0.8em;
}
.palette .categorie .--soulignement {
  background-color: black;
}

.footerPalette {
  font-size: 2.5em;
  font-weight: normal;
}

/*
@media screen and (max-width: 700px){
    #imagePaletteDuGout{
        width: 300px;
    }
    p{
        margin-left: 10px;
        margin-right: 10px;
    }
    #footerPaletteDuGout{
        width: 200px;
    }
}
*/
/*@media screen and (max-width: 700px){
    #titreMentionsLegales{
        font-size: 1em;
    }
}*/
/*@media screen and (max-width: 700px){
    #titreProchainement{
        font-size: 1.5em;
    }
}*/

/*# sourceMappingURL=style.css.map */
