@font-face {
    font-family: 'font note';
    src: url('../fonts/note/devonshire-regular-webfont.eot');
    src: url('../fonts/note/Devonshire-Regular.ttf') format('ttf'),
         url('../fonts/note/devonshire-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/note/devonshire-regular-webfont.woff2') format('woff2'),
         url('../fonts/note/devonshire-regular-webfont.woff') format('woff'),
         url('../fonts/note/devonshire-regular-webfont.svg#devonshireregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font chic';
    src: url('../fonts/chic/croissantone-regular-webfont.eot');
    src: url('../fonts/chic/croissantone-regular.ttf') format('ttf'),
         url('../fonts/chic/croissantone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chic/croissantone-regular-webfont.woff2') format('woff2'),
         url('../fonts/chic/croissantone-regular-webfont.woff') format('woff'),
         url('../fonts/chic/croissantone-regular-webfont.svg#croissant_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font delice';
    src: url('../fonts/delice/adagescriptjf-webfont.eot');
    src: url('../fonts/delice/AdageScriptJF.ttf') format('ttf'),
         url('../fonts/delice/adagescriptjf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/delice/adagescriptjf-webfont.woff2') format('woff2'),
         url('../fonts/delice/adagescriptjf-webfont.woff') format('woff'),
         url('../fonts/delice/adagescriptjf-webfont.svg#adagescriptjfregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font palette';
    src: url('../fonts/palette/kaushanscript-regular-webfont.eot');
    src: url('../fonts/palette/kaushanscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/palette/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../fonts/palette/kaushanscript-regular-webfont.woff') format('woff'),
         url('../fonts/palette/kaushanscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/palette/kaushanscript-regular-webfont.svg#kaushan_scriptregular') format('svg'),
         url('../fonts/palette/KaushanScript-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe Print';
    src: url('../fonts/segoe/Segoe Print.eot');
    src: url('../fonts/segoe/Segoe Print.eot?#iefix') format('embedded-opentype'),
         url('../fonts/segoe/Segoe Print.woff2') format('woff2'),
         url('../fonts/segoe/Segoe Print.woff') format('woff'),
         url('../fonts/segoe/Segoe Print.ttf') format('truetype'),
         url('../fonts/segoe/Segoe Print.svg') format('svg'),
         url('../fonts/segoe/Segoe Print.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cambria';
    src: url('../fonts/cambria/Cambria W01 Regular.eot');
    src: url('../fonts/cambria/Cambria W01 Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cambria/Cambria W01 Regular.woff2') format('woff2'),
         url('../fonts/cambria/Cambria W01 Regular.woff') format('woff'),
         url('../fonts/cambria/Cambria W01 Regular.ttc') format('truetype'),
         url('../fonts/cambria/Cambria W01 Regular.svg') format('svg'),
         url('../fonts/cambria/Cambria W01 Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}